version: '3.9'

services:
  db:
    image: postgres:16.1-bullseye
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - '${DB_CONTAINER_PORT}:${DB_PORT}'
  graph_rag:
    build: graph_rag
    volumes:
      - ./graph_rag:/usr/src/graph_rag
    env_file:
      - .env
    ports:
      - ${HOST_PORT}:8000
    depends_on:
      - db
    command: > 
      sh -c "uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

volumes:
  db_data: